<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="put.poznan.rest.booklib.model.Book" />
        <mapping class="put.poznan.rest.booklib.model.Author" />
        <mapping class="put.poznan.rest.booklib.model.Reader" />
        <mapping class="put.poznan.rest.booklib.model.Token" />
    </session-factory>
	    
</hibernate-configuration>
